# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db


# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
.vs/XamarinMvvmCrossTemplate/xs/sqlite3/storage.ide
.vs/XamarinMvvmCrossTemplate/xs/sqlite3/storage.ide-shm
.vs/XamarinMvvmCrossTemplate/xs/sqlite3/storage.ide-wal
XamarinMvvmCrossTemplateAddIn/.vs/XamarinMvvmCrossTemplateAddIn/xs/sqlite3/storage.ide-shm
XamarinMvvmCrossTemplateAddIn/.vs/XamarinMvvmCrossTemplateAddIn/xs/sqlite3/storage.ide-wal
.idea/.idea.XamarinMvvmCrossTemplate/.idea/contentModel.xml
.idea/.idea.XamarinMvvmCrossTemplate/.idea/workspace.xml
